<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventorymanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom_icon_2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/custom_icon_2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".help"></activity>
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".updateDetails" />
        <activity android:name=".forgetPassword" />
        <activity android:name=".deleteItem" />
        <activity android:name=".productDetails" />
        <activity android:name=".table" />
        <activity android:name=".deleteRecord" />
        <activity android:name=".QRgenerator" />
        <activity android:name=".newItem" />
        <activity android:name=".workerMenu" />
        <activity android:name=".managerMenu" />
        <activity android:name=".register" />
        <activity android:name=".Login"></activity>
        <activity android:name=".addRecord" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>